.Skills{
    background-color: darkgoldenrod;
}

*{
    box-sizing: border-box;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.SkillsHeader{
    text-align: center;
    text-shadow: 2px 2px 4px rgba(49, 49, 225, 0.656);

    border: 1rem solid;

    padding: 10px;
    margin: 15px;

}


//section internal grid
.grid-container{
    padding-top: 1%;

    display: grid;
    gap: 1rem;
}
 

//top skill/headliner
.flex-top{
    align-self:stretch;

    margin: 1%;
    padding: 4%;
}
.skillReactTop{
    max-width: 100%;
    height: auto;
}
 
 
//styling: front-end holy trinity
.flex-row-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:stretch;

    height: 40vh;
   
    background-color: blue;
}
//styling: 'hard' languages
.flex-row-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:stretch;

    height: 40vh;

    background-color: purple;
}
//styling: back-end languages
.flex-row-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:stretch;

    height: 40vh;

    background-color: red;
}
//styling: version control
.flex-row-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:stretch;

    height: 40vh;

    background-color: green;
}

// *** TESTING SECTION *** \\
.skillRow1{
    border: 1rem solid;
}
