//variable decleration
$silver2: rgb(169, 166, 166);
$silver3: rgb(144, 142, 142);
$silver4: rgb(130, 126, 126);
$silver5: rgb(108, 108, 108);
$silverTest: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Intro{

    color: white;
    background: black;

    width: 100%;
    min-height: 100vh;//using this to stretch Background, may require changes later  
      
}
.grid-wrapper{

  display: grid;
  min-height: 100vh;
  place-content: center;

  justify-content: center;//check this for text spacing

 
}

.testTest{
  z-index: 1;
}


.intro-backboard{
    color: silver;

   
        width: 100dvw;
        min-height: 100dvh;

        box-shadow: 16px 14px 20px #0000008c;
        border-radius: 10px;
        position: relative;

        overflow: hidden;
        display: flex;

        justify-content: center;
        align-items: center;

}
.intro-backboard::before{

   border-radius: inherit; 
   inset: 0;
   z-index: -.5;


   content: "";
        background-image: conic-gradient(          
          silver,
          $silver2, 
          $silver3,
          $silver4
        );


        width: 150%;
        height: 150%;

        position: absolute;
        

        animation: rotate 20s linear infinite;

}
.intro-backboard::after{

        content: ""; // this line inserts text    

        width: 99%;
        height: 99%;

        background: #101010;
        
        border-radius: 10px;

        display: flex;
        position: absolute;


        justify-content: center;
        align-items: center;


        box-shadow: inset 20px 20px 20px #0000008c;


} 


@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}