.app{

    height: 100vh;
    
}


.sections{
    width: 100%;
    height: calc(100vh - 70px);
    background-color:gray;
    position: relative; 
    top: 70px;
    scroll-behavior: smooth;
/* 
    scroll-snap-type: y mandatory; 
 */


    scrollbar-width: none; /*hide scrollbar firefox, edge, and IE*/
 


}
/* 
.skillsSection{
    height: auto;
}

 */

.sections > *{
    width: 100vw;
    height: calc(100vh - 70px); 
 

    scroll-snap-align: start;
     
}

 

/*hide scrollbar for Chrome, Safari, and Opera*/
.sections::-webkit-scrollbar{
    display:none;
}