.app{ 
    width: 100dvw;    
}

.app-grid-container{
    display: grid;
 //   border: 10px dashed cyan;
 
}

.introDiv-flex{
    min-height: 100dvh;
  //  width: 100dvw;
    
    display: flex;  

    flex: 1;
    flex-direction: row; 

    align-items: center;
  

}



















//'sections' styles
/* 
.sections{
    width: 100%;
    height: calc(100vh - 70px);

    background-color:gray;

    
    position: relative; 

    top: 70vh;
    scroll-behavior: smooth;

  //  scroll-snap-type: y mandatory; 
  //  scrollbar-width: none;
 


}


.sections > *{
    width: 100vw;
    height: 100vh;
    top: 70vh;

    position: relative;
 

  //  scroll-snap-align: start;
     
}

//hide scrollbar for Chrome, Safari, and Opera
.sections::-webkit-scrollbar{
    display:none;
}
*/
